<div>
  <h2 id="page-heading" data-cy="PurchaseOrderLineHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.home.title">Purchase Order Lines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase-order-line"
        [routerLink]="['/purchase-order-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.home.createLabel"> Create a new Purchase Order Line </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="purchaseOrderLines?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.home.notFound">No Purchase Order Lines found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="purchaseOrderLines && purchaseOrderLines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.quantity">Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="purchaseOrder.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.purchaseOrder">Purchase Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="product.productName">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.purchaseOrderLine.product">Product</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseOrderLine of purchaseOrderLines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase-order-line', purchaseOrderLine.id, 'view']">{{ purchaseOrderLine.id }}</a>
          </td>
          <td>{{ purchaseOrderLine.quantity }}</td>
          <td>{{ purchaseOrderLine.price }}</td>
          <td>
            <div *ngIf="purchaseOrderLine.purchaseOrder">
              <a [routerLink]="['/purchase-order', purchaseOrderLine.purchaseOrder.id, 'view']">{{ purchaseOrderLine.purchaseOrder.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="purchaseOrderLine.product">
              <a [routerLink]="['/product', purchaseOrderLine.product.id, 'view']">{{ purchaseOrderLine.product.productName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase-order-line', purchaseOrderLine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase-order-line', purchaseOrderLine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(purchaseOrderLine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="purchaseOrderLines && purchaseOrderLines.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
